.left-sidenav-menu li a.active {
    background-color: #007bff; /* Warna biru */
    color: #fff; /* Teks putih */
    font-weight: bold; /* Opsional: membuat teks lebih tegas */
    border-radius: 5px;
}

.left-sidenav-menu li a.active i {
    color: #fff; /* Ubah warna ikon menjadi putih */
}

.left-sidenav-menu li a.active:hover {
    background-color: #0056b3; /* Warna biru lebih gelap untuk efek hover */
}
